<!DOCTYPE html>
<html>
<head>
   <title>Home</title>
</head
><body>
   {% if msg %}
   <strong> {{ msg}} </strong>
   {% endif %}

   {% for row in res %} 
  <!--<a href = "/home/row['bookid']" ><strong> {{ row['bookname']}} </strong></a>-->
   {{ row['name']}}
   <strong> {{ row['price']}} </strong>
   {% endfor %} 

  {% if ReqBook %}
   <h2>{{ ReqBook['bookname']}}</h2>
   <h2>{{ ReqBook['author']}}</h2>
   <h2>{{ ReqBook['price']}}</h2>
   <h2>{{ ReqBook['description']}}</h2>
   <h2>{{ ReqBook['booktype']}}</h2>
   {% endif %}
<!-- user id then phone number and other details''' -->

<h1>Name</h1>
<a href = '/login'>Add Book</a>
<form action="/search" method = "POST">
   <input type = text name = searchBook>
   <input type = submit value ="submit">

</form>
</body>
</html>