<!DOCTYPE html>
<html>
<head>
	<title>login</title>
</head>
<body>
	login

<form name = "login"action="/addbook" method = "post">
	<input type = text name = "email">
	<input type = password name = "pswd">
   <input type = submit value ="login" name = "login">
</form>
signup
<form name = "signup" action="/addbook" method = "post">
	email<input type = text name = "email">
	name<input type = text name = "name">
	phone<input type  = text name = "phno">
	location<input type  = text name = "location">
	password<input type = password name = "pswd">
   <input type = submit value ="signup" id = "signup">
</form>
</body>
</html>